*
  &::selection
    background: $primary
    color: white

.q-btn__content
  & > .q-icon
    &.on-left
      margin-right: 8px


// Fullscreen toggle shuld be at the end of the toolbar on the right side
.q-editor__toolbar-group
  &:last-of-type
    margin-left: auto

    &::before
      display: none

// List view pages with grid tables
.q-table--grid
  // Only show sortable table header columns
  th:not(.sortable)
    display: none

  .q-card
    cursor: pointer
