*
  &::selection
    background: $primary
    color: white

// .q-btn__content
//   letter-spacing: 1.5px
//   & > .q-icon
//     &.on-left
//       margin-right: 8px


.q-field--dark .q-field__control:before
    border-color: rgba(255, 255, 255, 0.28) !important


// Fullscreen toggle shuld be at the end of the toolbar on the right side
.q-editor__toolbar-group
  &:last-of-type
    margin-left: auto

    &::before
      display: none

// List view pages with grid tables
.q-table--grid
  // Only show sortable table header columns
  th:not(.sortable)
    display: none


.a-bg
  &-positive
    background: linear-gradient(225deg, transparentize($green-10, .5), transparentize($green-10, .9))

  &-negative
    background: linear-gradient(225deg, transparentize($red-10, .65), transparentize($red-10, .9))

  &-neutral
    background: linear-gradient(225deg, transparentize($amber-10, .65), transparentize($amber-10, .95))
